html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
.sector1, .sector2 {
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px; 
	text-align: center;
}
.sector1 {
	background: url(patterns/pat1.png);
}
.sector2 {
	background: url(patterns/pat10.png);
}
.sector22 {
	background: url(patterns/pat1.png);
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px; 
	text-align: center;
}
figure { 
	width: 30%;
	margin: 0;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	margin-right: 50px;
	min-width: 200px;
	/*box-shadow:  4px 4px 12px rgba(0, 0, 0, .5);*/
}
.sector22 figure { 
	width: 80%;
}
figure img {
	width: 100%;
}
.name {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
  background: url(patterns/pat10.png);
}
h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: white;
	letter-spacing: 15px;
}
figcaption {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 24px;
	margin-top: 10px;
}
.sector2 figcaption {
	color: white;
}
